body { 
  width: 400px; 
  margin: 100px auto; 
  background-color: #f5f5f5; 
}

.box{
    padding:10%;
    border: 1px black solid;
    margin-top:50px;
    box-shadow: 15px 10px 10px black;
    float:center;
}